// contact form styles
#contact {
  &-form {
    // push contact form down + to center
    margin: 8rem auto 3rem auto;
    line-height: 2.5rem;

    .container {
      margin: auto;
    }

    .labels {
      display: block;
      width: 75%;
      margin: 1.5rem auto 0.5rem auto;
    }
    .inputFields {
      display: block;
      width: 75%;
      margin: auto;
      height: 3.5rem;
    }

    textarea {
      display: block;
      width: 75%;
      margin: auto;
      min-height: 30%;
    }
  }
}

button {
  display: block;
  width: 75%;
  min-height: 10%;
  margin: 0 auto 3rem;
  font-size: 1.2rem;
  cursor: pointer;

  &:hover {
    background: rgb(79, 135, 209);
    // background: darkred;
    color: #fff;
  }
}

@media (min-width: 768px) {
  #contact {
    &-form {
      margin: 12rem auto 3rem auto; // top right bottom left
    }
  }

  .labels,
  .inputFields {
    width: 50%;
  }

  button {
    font-size: 2rem;
  }
}
