// contact form styles
#contact {
  &-form {
    // push contact form down + to center
    margin: 0 auto; //top right bottom left
    background: #5a5050;
    line-height: 1.8rem;
    padding: 2rem;

    .container {
      margin: auto;
    }

    form {
      padding-bottom: 0.5rem;
    }

    .labels {
      display: block;
      width: 80%;
      margin: 1.5rem auto 0.5rem auto;
    }
    .inputFields {
      display: block;
      width: 80%;
      margin: auto;
      height: 3.5rem;
      border-radius: 50px;
      font-size: 1rem;
      padding: 1rem;
    }

    textarea {
      display: block;
      width: 80%;
      margin: auto;
      min-height: 30%;
      font-size: 1rem;
      padding: 1rem;
    }

    // recaptcha button styling
    div {
      margin: 2rem 0;

      .g-recaptcha {
        div {
          margin: 0 auto;
        }
      }
    }
  }
}

button {
  display: block;
  width: 45%;
  min-height: 10%;
  margin: 0 auto 3rem;
  font-size: 1.2rem;
  cursor: pointer;
  background: #ad2828;
  color: #fff;

  &:hover {
    background: rgb(79, 135, 209);
    // background: darkred;
    color: #fff;
  }
}

@media (min-width: 768px) {
  .nav {
    position: relative;
  }

  #contact {
    &-form {
      .labels,
      .inputFields,
      textarea {
        width: 50%;
      }

      button {
        font-size: 2rem;
      }
    }
  }
}
