#footer {
  color: white;
  background: linear-gradient(45deg, #a1aab3, #48596c, #090d11);
  height: 30vh;

  .container {
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    .social {
      display: flex;
      justify-content: space-evenly;
      width: 50%;
    }
  }
}

// #footerSection #email-address {
//   text-align: center;
// }

// #footerSection #email-address a {
//   display: block;
// }

// #footer-container {
//   border: 0.75px solid red;
//   width: 1000px;
//   height: 100%;
//   margin: auto;
//   /* display: grid;
// 	grid-template-columns: repeat(3, 2fr); */
//   display: flex;
//   justify-content: space-evenly;
//   align-items: center;
// }
