#footer {
  position: sticky;
  display: flex;
  color: white;

  background: darkred;
  min-height: 20rem;
  text-align: left;
  padding: 1rem;

  ul {
    margin: 1rem 0 0 1rem;
    padding: 0.5rem;

    li {
      margin: 0 0 1.5rem 0;
    }
    .fa-envelope-open {
      margin: 0.5rem 0; // top/bottom + left/right
    }
  }

  .footer-lead {
    font-size: 1.5rem;
    margin: 0 0 0.5rem 0; // top right bottom left
  }
}

@media (min-width: 768px) {
  #footer {
    // background: darkred;
    display: flex;
    flex-direction: initial;
    padding-top: initial;

    ul {
      margin: 3rem 0 0 1.5rem;
      font-size: 1.3rem;
    }

    .social {
      // display: flex;
      flex-direction: initial;
      justify-content: space-evenly;
      width: 70%;
    }
  }
}
