// NAVIGATION COMPNENT
#header {
  color: #fff;

  // INDEX.HTML
  &-home {
    height: 100vh;
    background: url("https://source.unsplash.com/Q1p7bh3SHj8") no-repeat center
      center/cover;

    #navbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 2rem;

      ul {
        display: flex;
      }
    }

    .header-content {
      display: flex;
      justify-content: center;
      height: 100vh;
      margin-top: 20%;
    }
  }

  // CONTACT.HTML (NAVBAR)
  &-contact {
    .container {
      background: #000;

      #navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        // height: 2rem;
        padding: 1rem;

        ul {
          display: flex;
        }
      }
    }
  }
}
