// INDEX PAGE HEADER
#header {
  color: #fff;

  // INDEX.HTML
  &-home {
    text-align: center;
    height: 100vh;
    background: url("https://source.unsplash.com/Q1p7bh3SHj8") no-repeat center
      center/cover;

    .header-content {
      color: #fff;
    }
  }
}

#header {
  .container {
    text-align: center;
  }
  color: #fff;

  // INDEX.HTML
  &-home {
    height: 100vh;
    background: url("https://source.unsplash.com/Q1p7bh3SHj8") no-repeat center
      center/cover;

    .header-content {
      margin: 12rem 0 0 1rem;
      text-align: center;
      font-size: 1.3rem;
    }
  }
}

// @media (min-width: 768px) {
//   .lead {
//     font-size: 3rem;
//   }
//   .tagline {
//     font-size: 2rem;
//   }
// }

//  LANDSCAPE: width > height

@media (min-width: 600px) {
  #header {
    &-home {
      .header-content {
        margin-top: 6rem;
      }
    }
  }
}
