// INDEX PAGE HEADER
#header {
  color: #fff;

  .container {
    text-align: center;
  }

  // INDEX.HTML
  &-home {
    text-align: center;
    background: url("https://source.unsplash.com/Q1p7bh3SHj8") no-repeat center
      center/cover;
    min-height: 100%;
    // background-attachment: fixed;
    // background-position: center;
    // background-repeat: no-repeat;
    // background-size: cover;

    .header-content {
      min-width: 70%;
      margin: 40% 0 0 1.5rem;
      text-align: left;
      font-size: 1.3rem;

      div {
        position: relative;
        top: 5rem;
        border-left: 0.5rem solid red;
        padding-left: 1rem;
      }
    }
  }
}

//

// @media (min-width: 768px) {
//   .lead {
//     font-size: 3rem;
//   }
//   .tagline {
//     font-size: 2rem;
//   }
// }

//  LANDSCAPE: width > height

@media (min-width: 560px) {
  #header {
    &-home {
      .header-content {
        margin: 7% 0 0 1.5rem; //tob right bottom left

        div {
          position: relative;
          top: 2rem;
        }

        .tagline {
          font-size: inherit; // inherit from root?
        }
      }
    }
  }
}

@media (min-width: 768px) {
  #header {
    &-home {
      .header-content {
        div {
          top: 5rem;
        }
      }
    }
  }
}
