// General NAV styles (ALL PAGES)

//NAVIGATION BAR (Mobile Devices)

nav {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: fixed;

  bottom: 0%;
  width: 100%;

  background: hsl(240, 10%, 30%);

  height: 5rem;

  z-index: 100;

  .logo {
    display: none;
  }

  ul {
    display: flex;
    justify-content: space-around;

    width: 100%;

    .current {
      text-align: center;
      padding-bottom: 0.5rem;
    }
  }

  .fas {
    display: block;
    font-size: 1.5rem;
    margin: 1rem 0 0.75rem 0; // top right bottom left
  }

  a:hover {
    border-bottom: 2px solid #fff;
  }
}

// MEDIA QUERY
@media (min-width: 768px) {
  // hide nav toggle and nav toggle label @ lg screens
  .nav-toggle,
  .nav-toggle-label {
    display: none;
  }

  nav {
    background: inherit; //inherit body background color
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: fixed;
    top: 0;
    height: 6rem;

    .logo {
      display: flex;
      align-items: center;
      margin: 0 0 0 1rem; // top right bottom left
    }

    ul {
      display: flex;
      margin: 0 0 0 auto; // top right bottom left
      align-items: center;
      width: 50%;
    }
  }
}
