// work page header elements
// #header {
//   &-work {
//     .nav {
//       display: flex;
//       justify-content: space-between;
//       align-items: center;

//       ul {
//         display: flex;
//       }
//     }
//   }
// }

// project section - small screens
#project-section {
  margin-top: 5rem;

  .lead {
    font-size: 1.2rem;
  }

  .container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 3rem;
    overflow: hidden;
    margin: 0 auto;
  }

  // images in project sections
  img {
    display: block;
    width: 100%;
    max-height: 50%;
    margin: 0 auto;
    object-fit: cover;
  }

  // .pro
}

@media (min-width: 768px) {
  #project-section {
    // margin-top: 11rem;
    //  INCREASE LEAD PARAGRAPH FONT @ LARGER SCREENS
    .lead {
      font-size: 2rem;
    }
    .container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: auto;
      // grid-gap: 1rem;
      // overflow: hidden;
      // margin: 0 auto;
    }
  }
}

/*
The trick to being able to each page to style differently
using a single stylesheet is that on that specific page and on 
the specific element needing to have different styling - a
unique ID MUST be attached to that element.

The element can have classes attached to it as well as
they would be used to style multiple items at the same 
time.
*/
