@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import "config";
@import "utilities";

//PAGE COMPONENTS
@import "navbar";
@import "footer";
@import "homePageHeader";

// SITE PAGES
@import "indexPage";
@import "aboutPage";
@import "workPage";
@import "contact";

/*THIS STYLE SHEET IS FOR GLOBAL STYLES APPLIED THROUGHOUT SITE*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

// HYPERLINKS
a {
  color: #fff;
  text-decoration: none;
}

body {
  font-family: "Montserrat", sans-serif;
  color: #fff; // this will need to change to white on some pages
  background: #000; // this needs to change to black!!
}

// General NAV styles (ALL PAGES)
//NAVIGATION BAR

// hide nav-toggle checkbox

// .nav-toggle:checked ~ .header-content {
//   margin: 20rem 0 0 1rem;
// }

// LARGE SCREEN STYLES
@media (min-width: 768px) {
  //  adjust lead paragraph font size @ larger screens
  // hide nav toggle and nav toggle label @ lg screens
  .nav-toggle,
  .nav-toggle-label {
    display: none;
  }

  // nav {

  // }

  nav {
    display: flex;
    overflow: hidden;
    position: absolute;
    top: 0;
    height: 10rem;

    .logo {
      display: flex;
      align-items: center;
      margin: 0 0 0 1rem; // top right bottom left
    }

    // h1 {
    //   margin-left: 5%;
    // }

    ul {
      margin-left: auto;
      display: grid;
      grid-auto-flow: column;
      min-width: 50%;
    }
  }

  // .nav-toggle:checked ~ #navbar {
  //   background: darkred;
  // }
}

//
