@import "config";
@import "utilities";
@import "footer"; // page component
@import "indexPage";
@import "workPage";
@import "contact";
@import "aboutPage";
@import "homePageHeader";

// THIS STYLE SHEET IS FOR UNIVERSAL STYLING TO BE APPLIED THROUGHOUT SITE

body {
  min-height: 100%;
  // color: #fff;
  color: #000;
  background: #fff;
}

// General NAV styles (ALL PAGES)
#navbar {
  background: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 2rem;

  ul {
    display: flex;
  }
}

a:hover {
  border-bottom: 0.75px solid #fff;
}

#brand {
  display: flex;
  justify-content: flex-start;
}

#welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#projects {
  background: #b7b7af;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#projects a {
  text-decoration: none;
}

.projects {
  margin: 0 0.5%;
}

div > a,
li > a {
  padding: 10px 10px;
  /*border: thin solid white;*/
  color: white;
  text-decoration: none;
}

.ASCIIspan {
  color: white;
  width: 100%;
  text-align: center;
}

// img {
//   width: 150px;
//   height: 150px;
// }

// INDEX PAGE
// SPECIALTY / FUNCTIONAL AREAS
#specialty {
  color: #000;
  height: auto;
  width: 100%;
  padding: 1.5rem;

  .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-gap: 1.5rem;
    height: auto;
    width: 100%;
    overflow: hidden;
    margin: 1.5rem auto; // added margin to specialty container area

    .specialtyItems {
      border: 2px dotted red; // for testing purposes

      i {
        // color: darkred;
        display: block;
        width: 40%;
        margin: auto;
      }
    }
  }
}

//  import mobile styles / media queries
@media screen and (max-width: 576px) {
  #navbar {
    background: #000;
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
    // align-items: center;
    height: 2rem;

    ul {
      display: flex;
      flex-direction: column;

      li {
        margin: 1rem auto;
      }
    }
  }
}
