@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import "config";
@import "utilities";
@import "footer"; // page component
@import "indexPage";
@import "workPage";
@import "contact";
@import "aboutPage";
@import "homePageHeader";

/*THIS STYLE SHEET IS FOR GLOBAL STYLES APPLIED THROUGHOUT SITE*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

// HYPERLINKS
a {
  color: #fff;
  text-decoration: none;
}

body {
  font-family: "Montserrat", sans-serif;
  color: #fff; // this will need to change to white on some pages
  background: #000; // this needs to change to black!!
}

// General NAV styles (ALL PAGES)
//NAVIGATION BAR

// hide nav-toggle checkbox
.nav-toggle {
  visibility: hidden;
}

.nav-toggle-label {
  position: absolute;
  top: 5px;
  left: 5px;
  font-size: 1.5rem;
  margin-left: 1rem;
  // font-size: 1.5rem;
}

nav {
  position: absolute;
  width: 100%;
  background: rgba(255, 0, 0, 0.5);
  text-align: left;
  // width: 100%;
  min-height: 20rem;
  // DEFAULT: hide navigation on mobile devices
  display: none;

  .logo {
    display: none;
  }

  ul {
    // display: flex;
    // flex-direction: column;
    // justify-content: space-evenly;
    min-height: inherit;
    // margin-right: 5%;
    min-width: 40%;
    margin: 5rem 0 0 1rem;
    // margin-left: 1rem;

    li.current {
      margin-bottom: 1.5rem;
      margin-left: 1rem;
    }
  }

  a:hover {
    border-bottom: 2px solid #fff;
  }
}

//SHOW NAV WHEN TOGGLE IS CHECKED
.nav-toggle:checked ~ nav {
  display: block;
}

// .nav-toggle:checked ~ .header-content {
//   margin: 20rem 0 0 1rem;
// }

// LARGE SCREEN STYLES
@media (min-width: 768px) {
  //  adjust lead paragraph font size @ larger screens
  // hide nav toggle and nav toggle label @ lg screens
  .nav-toggle,
  .nav-toggle-label {
    display: none;
  }

  nav {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
    min-height: 5rem;

    .logo {
      display: block;
    }

    // h1 {
    //   margin-left: 5%;
    // }

    ul {
      flex-direction: initial;
      align-items: center;
      min-width: 50%;
    }
  }

  // .nav-toggle:checked ~ #navbar {
  //   background: darkred;
  // }
}

//
